.ag-theme-alpine .ag-cell {
  line-height: 1.3rem !important;
  padding-top: 5px;
  padding-bottom: 5px;
}

.ag-cell-wrap-text {
  word-break: normal !important;
}

.ag-cell-wrapper {
  align-items: normal !important;
}

.name {
  font-weight: bold;
}

main a {
  color: #005ea2 !important;
}

main a:hover {
  color: #162e51 !important;
}
